<p id="notice"><%= notice %></p>

<p>
  <strong>Foods:</strong>
  <%= @order.foods %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Surcharge:</strong>
  <%= @order.surcharge %>
</p>

<p>
  <strong>Ship:</strong>
  <%= @order.ship %>
</p>

<p>
  <strong>Billing:</strong>
  <%= @order.billing %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @order.instructions %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
